<!-- cancel.html -->
{% extends 'base_nav.html' %}

{% block maincontent %}
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Cancel Your Ticket</h1>

        <p class="mt-4 text-gray-500">
            Please enter your ticket number to cancel your ticket.
        </p>
    </div>

    <form action="{% url 'customerPage:cancel' %}" method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      {% csrf_token %}
        <div>
            <label for="ticket_no" class="sr-only">Ticket Number</label>
            <div class="relative">
                <input
                    type="text"
                    name="ticket_no"
                    id="ticket_no"
                    class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                    placeholder="Enter Your Ticket Number"
                />
            </div>
        </div>

        <div class="flex items-center justify-between">
            <button
                type="submit"
                class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
            >
                Cancel Ticket
            </button>
        </div>
    </form>
</div>
{% endblock maincontent %}
