
{% extends 'base_nav.html' %}
{% block maincontent %}
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>

    <p class="mt-4 text-gray-500">
      Hurry Up!!
      Login to buy Bus Ticket
    </p>
  </div>

  <form action="" method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    
      {% csrf_token %}
      {% for field in form %}
        <div class="col-span-6 sm:col-span-3">
          <label
            for="{{field.id_for_label}}"
            class="block text-sm font-medium text-gray-700"
          >
            {{field.label}}
          </label>
          {{field}}
          {% if field.error%}
            <ul class = "errorlist">
              {% for error in field.errors  %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
          {% endif %}  
        </div>
      {% endfor %}

    <div class="flex items-center justify-between">
      <p class="text-sm text-gray-500">
        No account?
        <a class="underline" href="{% url 'customerPage:register'%}">Sign up</a>
      </p>

      <button
        type="submit"
        value = "submit"
        name="submit"
        class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
      >
        Sign in
      </button>
    </div>
  </form>
</div>
{% endblock maincontent %}
