{% extends 'base_nav.html' %} 
{% load static %}
{% block maincontent %}
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="bg-white flex items-center justify-center h-screen">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <aside
      class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
      <img
        alt="Pattern"
        src="{% static 'background3.jpg' %}"
        class="absolute inset-0 h-full w-full object-cover"
      />
  </aside>

    <main
      aria-label="Main"
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
      <div class="max-w-xl lg:max-w-3xl">
        <h1
          class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
        >
          Welcome to busTicketing
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">
          Create Account to get better experience.
          We provide best service.
        </p>

        <form action="#" method ="Post" class="mt-8 grid grid-cols-6 gap-6">
          {% csrf_token %}
          {% for field in form %}
          <div class="col-span-6 sm:col-span-3">
            <label
              for="{{field.id_for_label}}"
              class="block text-sm font-medium text-gray-700"
            >
              {{field.label}}
            </label>
            {{field}}
            {% if field.error%}
              <ul class = "errorlist">
                {% for error in field.errors  %}
                  <li>{{error}}</li>
                {% endfor %}
              </ul>
            {% endif %}  
            </div>
          {% endfor %}


          <div class="col-span-6">
            <p class="text-sm text-gray-500">
              By creating an account, you agree to our
              <a href="#" class="text-gray-700 underline">
                terms and conditions
              </a>
              and
              <a href="#" class="text-gray-700 underline">privacy policy</a>.
            </p>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              <button
                
                name="submit"
                type="submit"
                class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
              >
                Create an account
              </button>

            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Already have an account?
              <a href="{% url 'customerPage:login' %}" class="text-gray-700 underline">Log in</a>.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>
  
{% endblock maincontent %}



