{% extends 'base_side.html'%}
<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
{%block maincontent%}

<style>

</style>

<div class="card-container flex gap-8 mt-5">
  <a href="#" class="group flex flex-col justify-between rounded-sm bg-white p-4 shadow-xl transition-shadow hover:shadow-lg sm:p-6 lg:p-8 w-72 h-48">
    <div>
      <h3 class="text-3xl font-bold text-indigo-600 sm:text-5xl">100+</h3>
      <div class="mt-4 border-t-2 border-gray-100 pt-4">
        <p class="text-sm font-medium uppercase text-gray-500">Customers</p>
      </div>
    </div>
  </a>

  <a href="#" class="group flex flex-col justify-between rounded-sm bg-white p-4 shadow-xl transition-shadow hover:shadow-lg sm:p-6 lg:p-8 w-72 h-48">
    <div>
      <h3 class="text-3xl font-bold text-indigo-600 sm:text-5xl">100+</h3>
      <div class="mt-4 border-t-2 border-gray-100 pt-4">
        <p class="text-sm font-medium uppercase text-gray-500">Bus</p>
      </div>
    </div>
  </a>

  <a href="#" class="group flex flex-col justify-between rounded-sm bg-white p-4 shadow-xl transition-shadow hover:shadow-lg sm:p-6 lg:p-8 w-72 h-48">
    <div>
      <h3 class="text-3xl font-bold text-indigo-600 sm:text-5xl">100+</h3>
      <div class="mt-4 border-t-2 border-gray-100 pt-4">
        <p class="text-sm font-medium uppercase text-gray-500">Cancellation</p>
      </div>
    </div>
  </a>
</div>

{% endblock maincontent %}
